EmployeeAttrition.json
[{"id":"9b77b4a.8b74f48","type":"tab","label":"Employee Attrition","disabled":false,"info":""},{"id":"f7b5742a.4d901","type":"ui_form","z":"9b77b4a.8b74f48","name":"","label":"","group":"ea04fca2.5674d8","order":1,"width":0,"height":0,"options":[{"label":"Education","value":"ed","type":"text","required":true,"rows":null},{"label":"Job Involvement","value":"ji","type":"text","required":true,"rows":null},{"label":"Job Level","value":"jl","type":"number","required":true,"rows":null},{"label":"Daily Rate (USD)","value":"dr","type":"number","required":true,"rows":null},{"label":"Monthly Income (USD)","value":"mi","type":"number","required":true,"rows":null},{"label":"No of Companies Worked","value":"cw","type":"number","required":true,"rows":null},{"label":"Total Working Years","value":"twy","type":"number","required":true,"rows":null},{"label":"Years At Company","value":"yac","type":"number","required":true,"rows":null},{"label":"Years In Current Role","value":"ycr","type":"number","required":true,"rows":null},{"label":"Years Since Last Promotion","value":"ylp","type":"number","required":true,"rows":null},{"label":"Years With Current Manager","value":"ycm","type":"number","required":true,"rows":null},{"label":"Training Times Last Year","value":"tly","type":"number","required":true,"rows":null},{"label":"Performance Rating","value":"pr","type":"text","required":true,"rows":null}],"formValue":{"ed":"","ji":"","jl":"","dr":"","mi":"","cw":"","twy":"","yac":"","ycr":"","ylp":"","ycm":"","tly":"","pr":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":300,"wires":[["8a2a6c6f.250cf8","7cdc95d3.8bea1c"]]},{"id":"8a2a6c6f.250cf8","type":"debug","z":"9b77b4a.8b74f48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":270,"y":380,"wires":[]},{"id":"7cdc95d3.8bea1c","type":"function","z":"9b77b4a.8b74f48","name":"pre-token","func":"global.set(\"ed\",msg.payload.ed)\nglobal.set(\"ji\",msg.payload.ji)\nglobal.set(\"jl\",msg.payload.jl)\nglobal.set(\"dr\",msg.payload.dr)\nglobal.set(\"mi\",msg.payload.mi)\nglobal.set(\"cw\",msg.payload.cw)\nglobal.set(\"twy\",msg.payload.twy)\nglobal.set(\"yac\",msg.payload.yac)\nglobal.set(\"ycr\",msg.payload.ycr)\nglobal.set(\"ylp\",msg.payload.ylp)\nglobal.set(\"ycm\",msg.payload.ycm)\nglobal.set(\"tly\",msg.payload.tly)\nglobal.set(\"pr\",msg.payload.pr)\n\nvar apikey=\"YDa3stog_AyhEhQXiXSUpAsh3sTywmQeDJ7mqMsMLjzL\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":240,"wires":[["bdca1987.d88f5"]]},{"id":"bdca1987.d88f5","type":"http request","z":"9b77b4a.8b74f48","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":432.00000381469727,"y":284.00000286102295,"wires":[["4da4daa7.4726c4","45bdd573.dd114c"]]},{"id":"4da4daa7.4726c4","type":"debug","z":"9b77b4a.8b74f48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":340,"wires":[]},{"id":"45bdd573.dd114c","type":"function","z":"9b77b4a.8b74f48","name":"Pre Prediction","func":"var ed = global.get(\"ed\")\nvar ji = global.get(\"ji\")\nvar jl = global.get(\"jl\")\nvar dr = global.get(\"dr\")\nvar mi = global.get(\"mi\")\nvar cw = global.get(\"cw\")\nvar twy = global.get(\"twy\")\nvar yac = global.get(\"yac\")\nvar ycr = global.get(\"ycr\")\nvar ylp = global.get(\"ylp\")\nvar ycm = global.get(\"ycm\")\nvar tly = global.get(\"tly\")\nvar pr = global.get(\"pr\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"Education\", \"JobInvolvement\", \"JobLevel\", \"DailyRate(USD)\", \"MonthlyIncome(USD)\", \"NoofCompaniesWorked\", \"TotalWorkingYears\", \"YearsAtCompany\", \"YearsInCurrentRole\", \"YearsSinceLastPromotion\", \"YearsWithCurrentManager\", \"TrainingTimesLastYear\", \"PerformanceRating\"]],\"values\": [[ed,ji,jl,dr,mi,cw,twy,yac,ycr,ylp,ycm,tly,pr]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":624.0000076293945,"y":236.0000021457672,"wires":[["48bec05c.15d6f8"]]},{"id":"48bec05c.15d6f8","type":"http request","z":"9b77b4a.8b74f48","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/25ec2a6d-ea60-49ba-8952-ed8095166c21/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":850,"y":260,"wires":[["bbbf310f.12991","2b3de6e.183d01a"]]},{"id":"bbbf310f.12991","type":"debug","z":"9b77b4a.8b74f48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1002.9999914169312,"y":344.00000381469727,"wires":[]},{"id":"c0420782.a4703","type":"inject","z":"9b77b4a.8b74f48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":140,"wires":[["7cdc95d3.8bea1c"]]},{"id":"812ace07.e63d","type":"debug","z":"9b77b4a.8b74f48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":833.9999885559082,"y":127.0000057220459,"wires":[]},{"id":"2b3de6e.183d01a","type":"function","z":"9b77b4a.8b74f48","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":679.6000595092773,"y":168.00000190734863,"wires":[["812ace07.e63d","7cafde96.24c43"]]},{"id":"7cafde96.24c43","type":"ui_text","z":"9b77b4a.8b74f48","group":"ea04fca2.5674d8","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":797.6000366210938,"y":401.20001220703125,"wires":[]},{"id":"ea04fca2.5674d8","type":"ui_group","z":"","name":"Employee Attrition Predication Model","tab":"5196cde3.f51f8c","order":1,"disp":true,"width":"7","collapse":false},{"id":"5196cde3.f51f8c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]